\#*
*\#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
.dev_builds/
config/dev.yml
output
releases/*.tgz
src_alt
**/.DS_Store
releases/**/*.tgz
.DS_Store
blobs
deployment-vars-*
ci/settings.yml
